
@{

    if (Session["UserInfo"] == null)
    {
        Session["loginError"] = "Yeniden giriş yapın!";
        Response.Redirect("/Login/LogOut");
    }
    int userLevel = Convert.ToInt32(Session["UserLevel"].ToString());
    int userId = Convert.ToInt32(Session["UserId"].ToString());
    int departmanId = Convert.ToInt32(Session["DepartmanId"].ToString());
}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">ONAY BEKLEYEN FATURA LİSTESİ</h6>
            <div class="form-group m-b-0">
                <div class="col-sm-12 text-center text-success">
                    <span id="spnSuccess"></span>
                </div> <div class="col-sm-12 text-center text-danger">
                    <span id="spnDanger"></span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="thead-Title">
                        <tr>
                            @if (userLevel == 2)
                            {
                                <th>KULLANICI/DEPARTMAN</th>
                            }
                            <th>FİRMA</th>
                            <th>ŞUBE</th>
                            <th>FATURA NO</th>
                            <th>TARİH</th>
                            <th>TUTAR</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot class="thead-Title">
                        <tr>
                            @if (userLevel == 2)
                            {
                                <th>KULLANICI/DEPARTMAN</th>
                            }
                            <th>FİRMA</th>
                            <th>ŞUBE</th>
                            <th>FATURA NO</th>
                            <th>TARİH</th>
                            <th>TUTAR</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody class="t-body">
                        @foreach (var item in Model)
                        {
                            <tr>
                                @if (userLevel == 2)
                                {
                                    <td style="color:black;"> @item.userName @item.departmanName</td>
                                }
                                <td style="color:black;"> @item.invoiceCompany</td>
                                <td style="color:black;"> @item.branch</td>
                                <td style="color:black;"> @item.invoiceNumber</td>
                                <td style="color:black;"> @item.invoiceDate.ToString("dd/MM/yyyy") </td>
                                <td style="color:black; text-align:end !important;"> @item.totalS</td>

                                <td width="7%">

                                    <div class="dropdown">
                                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            İşlemler
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            @if (userId == item.userId || departmanId == item.departmanId)
                                            {
                                                <a class="dropdown-item" style="cursor:pointer;" onclick="confirmed(@item.id);">Onayla</a>
                                            }
                                            <a class="dropdown-item" style="cursor:pointer;" onclick="getContents('Pages', 'InvoiceDetail',@item.id);">Güncelle</a>
                                            <a class="dropdown-item" style="cursor:pointer;" onclick="showInvoice(@item.id);">Görüntüle</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">FATURA ONAYLAMA VE AÇIKLAMA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="confirmId" name="confirmId" type="hidden" />
                <input id="invoiceId" name="invoiceId" type="hidden" />
                <input type="hidden" id="userId" name="userId" value="@Session["UserId"]" />
                <input type="hidden" id="departmanid" name="departmanid" value="@Session["DepartmanId"]" />
                <input id="userName" name="userName" type="hidden" value="@Session["UserName"]" />
                <label for="description">AÇIKLAMA</label>
                <textarea rows="3" class="form-control form-control-user" id="description" name="description"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">VAZGEÇ</button>
                <button id="confirm" type="button" class="btn btn-primary">ONAYLA</button>
            </div>
        </div>
    </div>
</div>


<!-- Message Modal -->
<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center text-success">
                        <span id="spnWarnSuc"></span>
                    </div> <div class="col-sm-12 text-center text-danger">
                        <span id="spnWarnDan"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tamam</button>
            </div>
        </div>
    </div>
</div>


<button id="showButton" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" hidden>Faturayı Götüntüle</button>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="closeInvoice" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="pdfShow">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="closeInvoice" data-dismiss="modal">Kapat</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/system.js"></script>
<script>
    var userid, departmanId;
    function confirmed(id) {
        $("#confirmId").val(0);
        $("#description").val('');
        $("#invoiceId").val(id);
        userid = $("#userId").val();
        departmanId = $("#departmanid").val();
        InvoiceDetail();
        $("#exampleModal").modal('show');
    }

    function showInvoice(id) {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "/Api/Invoice_Api/Documents/",
            data: "id=" + id,
            dataType: "json",
            cache: false,
            async: false,
            success: function (yanit) {
                if (yanit != '') {
                    $("#pdfShow").empty();
                    $("#pdfShow").append('<embed frameborder="0" width="100%" height="450px" id="image" src="/UploadedFiles/' + yanit + '">');
                }
                else {
                    $("#pdfShow").empty();
                    $("#pdfShow").append('<embed frameborder="0" width="100%" height="450px" id="image" src="/UploadedFiles/logo.png">');
                }
            },
            error: function (Result) {
                $('#bResult').html("Dosya Gösterilemiyor.");
            }
        });
        $("#showButton").trigger("click");
    }
    function invoiceDetailAdd() {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Api/Invoice_Api/ConfirmInvoice",
            data: JSON.stringify({
                id: $("#confirmId").val(),
                confirmingUserId: $("#userId").val(),
                invoiceId: $("#invoiceId").val(),
                userName: $("#userName").val(),
                confirmingDetail: $("#description").val(),
                departmanId: departmanId,
                userId: userid
            }),
            dataType: "json",
            success: function (yanit) {
                if (yanit.status == 1) {
                    $("#exampleModal").modal('hide');
                    $("#warningModal").modal('show');
                    $('#spnWarnSuc').html(yanit.statusText);
                    window.location.reload();
                }
            },
            error: function (result) {
                $("#exampleModal").modal('hide');
                $("#warningModal").modal('show');
                $('#spnWarnDan').html(result.statusText);
            }
        });
    }

    function InvoiceDetail() {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "/Api/Invoice_Api/DescriptionDetail/",
            data: { invoiceId: $("#invoiceId").val(), userId: $("#userId").val() },
            dataType: "json",
            cache: false,
            async: false,
            success: function (yanit) {
                if (yanit != '') {
                    $("#confirmId").val(yanit.id);
                    $("#description").val(yanit.confirmingDetail);
                    window.Location.reload();
                } else {
                    $('#bResult').html("Record detail couldn't load.");
                }
            },
            error: function (Result) {
                $('#bResult').html("Record detail couldn't load.");
            }
        });
    }

    function deleteItem(id) {
        var checkstr = confirm('are you sure you want to delete ?');
        if (checkstr == true) {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/Api/Invoice_Api/Delete/" + id,
                dataType: "json",
                async: false,
                success: function (yanit) {
                    if (yanit.status != "1") {
                        $('#spnDanger').html(yanit.statusText);
                    } else {
                        window.location.reload();
                        $('#spnSuccess').html(yanit.statusText);
                    }
                },
                error: function (Result) {
                    $('#spnDanger').html("Silme esnasında bir hata oluştu.");
                }
            });
        } else {
            return false;
        }
    }

    function StationList() {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "/Api/Station_Api/StationList",
            dataType: "json",
            cache: false,
            async: false,
            success: function (yanit) {
                $("#stationId").empty();
                $("#stationId").append($("<option></option>").val('0').html('Choose Station'));
                $.each(yanit, function () {
                    $("#stationId").append($("<option></option>").val(this.id).html(this.station));
                });
            },
            error: function (Result) {
                $('#bResult').html("Stations couldn't load.");
            }
        });
    }


    $(document).ready(function () {
        $('#confirm').on('click', function (evt) {
            invoiceDetailAdd();
        });
    });
</script>


